# Ignore node_modules folder
/node_modules/

# Ignore the output folder
/output/

# Ignore log files
*.log

# Ignore environment variable files
*.env

# Ignore OS-specific files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore any IDE or editor-specific files
.vscode/